body {
    margin: 0%;

}

header {
    background-color: rgb(209, 183, 228);
    font-size: 30px;
    padding: 25px;
    text-align: center;
}

section {
    margin: 3%;
    padding: 5%;

}
    

p {
    color: rgb(65, 52, 65);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    margin: 0;
    text-align: center;

}

#image {
    display: flex;
    justify-content: left;
}