body {
    margin: 5%;

}

header {
    background-color: rgb(209, 183, 228);
    font-size: 30px;
    padding: 25px;
    text-align: center;
}


p {
    color: rgb(65, 52, 65);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    margin: 0;
    text-align: center;

}
/*
div {
    padding: 5%;
    width: 50%;
}

#section {
    background-color: rgb(247, 186, 247);  
}
*/

.cajas {
    padding: 5%;
    width: 50%;
    background-color: rgb(247, 186, 247);  
}

.cajas h1 {
    color: brown;
}

.cajas img {
    width: 32%;
}

